<%= form_for @team do |f|%>
<% if @team.errors.any? %>
	    <div id="error_explanation">
	      <h2>There were some errors:</h2>
	      <ul>
	        <% @team.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	<%= f.label :name%>
	<%= f.text_field :name %>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<%= f.hidden_field :company_id, value: params[:company_id]%>
	<%= f.submit "Create Team" %>
<% end %>
