<%=stylesheet_link_tag "companies.css"%>

<nav class="grey darken-4">
	<div class="nav-wrapper grey darken-4 ">
		<div class="row valign-wrapper">
		<div class="col m8 l10">
			<div class="valign-wrapper">
			<a href="<%=company_path(@team.company)%>" class="breadcrumb avatar valign-wrapper">
				<%= image_tag @team.company.avatar, :class => "circle responsive-img hide-on-small-only", :style => "width: 50px; height: 50px;"%>
				<h6><%=@team.company.name%></h6>
			</a>
			<a href="<%=team_path(@team)%>" class="breadcrumb avatar valign-wrapper">
				<%= image_tag @team.team_pic, :class => "circle responsive-img hide-on-small-only", :style => "width: 50px; height: 50px;"%>
				<h6><%=@team.name%></h6>
			</a>			
		</div>
		
		</div>
		<div class="col m4 l2">
				<a class="btn-large white blue-text text-lighten-1 hide-on-small-only" href="<%= @company ? new_company_kpi_path(@company) : @team ? new_team_kpi_path(@team) : new_member_kpi_path(@member)%>">Add Team KPI</a>
				<a class="btn white blue-text text-lighten-1 show-on-small hide-on-med-and-up" href="<%= @company ? new_company_kpi_path(@company) : @team ? new_team_kpi_path(@team) : new_member_kpi_path(@member)%>">Add New</a>
		</div>
	</div>
	</div>
</nav>
	<% if @team.kpis.any? == false%>
	<div class="section">
			
	<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m8 offset-m2">
				<div class="icon-block">
					<h5 class="center light-blue-text text-darken-1"><i class="fa fa-mouse-pointer fa-2g" aria-hidden="true"></i></h5>
					<h5 class="center light-blue-text text-darken-1">Click the <span style="font-weight: 900; text-decoration: underline;">Add Team KPI</span> button</h5>
					<div class="center">
						<iframe src="https://giphy.com/embed/SEt0UuZOuIsRW" width="auto" height="400" frameBorder="0" class="giphy-embed"></iframe>
						</div>
					<h3 class="center light-blue-text text-darken-1">...or you could just ignore them</h3>
			
			</div>

			</div>

			</div>
	<%end%>

	<%= render "kpis/showkpis"%>

</div>
 