<a href="#" class="js-previous" data-id="<%=@meeting.id%>" >
  <i class="medium material-icons">navigate_before</i>
</a>
<a href="#" class="js-next" data-id="<%=@meeting.id%>">
  <i class="medium material-icons">navigate_next</i>
</a>
<h5 class="meetingDate"><%= @meeting.date %></h5>
<h5>Overview</h5>
<p class="meetingOverview"><%= @meeting.overview %></p>
<h5>Takeaways</h5>
<p class="meetingTakeaways"><%= @meeting.takeaways %></p>
<a class="btn teal white-text" href="<%=edit_meeting_path(@meeting)%>">Edit Meeting Details</a>
<h5>Comments</h5>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody class="all-comments">

  </tbody>
</table>
<h5>Add a Comment</h5>
<%= render 'comments/form.html.erb'%>


<script type="text/javascript" charset="utf-8">
$(window).load(function(){
  $('.js-previous').hide();
  let meetingCount;
  let meetingIdList = [];
  let firstMeeting = parseInt(window.location.pathname.slice(-1));
  let currentPosition;  
  console.log("Window has loaded");

//Set the total number of meetings
$(function () {
  var retrieve = $.getJSON("/meetings.json", function(data) {
    $.each(data, function(index, value){
      console.log(value["id"]);
      meetingIdList.push(value["id"]);
    });
    console.log("Set meeting count request sent");
  });
  retrieve.done(function(data){
    meetingIdList.sort();
    currentPosition = meetingIdList.indexOf(firstMeeting);
    meetingCount = meetingIdList.length;
    console.log("meetingIdList: " + meetingIdList);
    console.log("meetingCount: " + meetingCount);
    console.log("firstMeeting: " + firstMeeting);
    console.log("currentPosition: " + currentPosition);
    changeArrows();
  });
});


//Control hiding and showing the previous button
$(function () {
  $(".js-next").on("click", function(e) {
    e.preventDefault();
    var nextId = meetingIdList[currentPosition + 1]
    currentPosition++;
    $.getJSON("/meetings/" + nextId + ".json", function(data) {
      $(".meetingDate").text(data["date"]);
      $(".meetingOverview").text(data["overview"]);
      $(".meetingTakeaways").text(data["takeaways"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
      history.pushState(null, '', `/meetings/${data["id"]}`);
      changeArrows();
      resetComments(nextId);
    });
  });
});

//Control hiding and showing the next button
$(function () {
  $(".js-previous").on("click", function(e) {
    e.preventDefault();
    var nextId = meetingIdList[currentPosition - 1]
    currentPosition--;
    $.getJSON("/meetings/" + nextId + ".json", function(data) {
      $(".meetingDate").text(data["date"]);
      $(".meetingOverview").text(data["overview"]);
      $(".meetingTakeaways").text(data["takeaways"]);
      // re-set the id to current on the link
      $(".js-previous").attr("data-id", data["id"]);
      changeArrows();
      history.pushState(null, '', `/meetings/${data["id"]}`);
      resetComments(nextId);
    });
  });
});

//Fetch and display all of the comments for a meeting
$(function (){ 
$.getJSON(window.location.pathname + `/comments.json`, function(data) {
  console.log(data);
      $.each(data, function(index, value){
        //console.log(value);
        $(".all-comments").append(`<tr>
          <td>${value["name"]}</td>
          <td>${value["comment"].split(" ").slice(0,15).join(" ") + "&#8230"}</td>
          <td>
            <a href=${"/comments/" + value["id"]} data-method="delete" rel="nofollow">Delete</a>
          </td>
        </tr>`);        
      });
    });
  
});

function resetComments(id){
  $('.all-comments').empty();
    $.getJSON(`/meetings/${id}/comments.json`, function(data) {
        $.each(data, function(index, value){
          // console.log(value);
          $(".all-comments").append(`<tr>
            <td>${value["name"]}</td>
            <td>${value["comment"].split(" ").slice(0,15).join(" ") + "&#8230"}</td>
            <td>
              <a href=${"/comments/" + value["id"]} data-method="delete" rel="nofollow">Delete</a>
            </td>
          </tr>`);        
        });
      });

  $(function(){
    $('form').submit(function(e){
        e.preventDefault();
        console.log(this);
        var values = $(this).serialize();
        console.log(values);
        var posting = $.post(`/meetings/${mainId}` + '/comments', values);
        posting.done(function(data){
            console.log(data);
            $(".all-comments").append(`<tr>
              <td>${data["name"]}</td>
              <td>${data["comment"].split(" ").slice(0,15).join(" ") + "&#8230"}</td>
              <td>
                <a href=${"/comments/" + data["id"]} data-method="delete" rel="nofollow">Delete</a>
              </td>
            </tr>`); 
        });
    });
  });
}

function changeArrows(){
    console.log("body changed");
    console.log("meetingIdList: " + meetingIdList);
    console.log("meetingCount: " + meetingCount);
    console.log("firstMeeting: " + firstMeeting);
    console.log("currentPosition: " + currentPosition);
    if(currentPosition === 0){
      $('.js-previous').hide();    
    }else{
      $('.js-previous').show();
    }
    if(meetingIdList[currentPosition] === meetingIdList.slice(-1)[0]){
      $('.js-next').hide();    
    }else{
      $('.js-next').show();
    }
  };

  

});


</script>