
<%= render 'layouts/lander'%>

<div class="row grey lighten-4">
  <div class="col s12 m12 l8 offset-l2 xl6 offset-xl3">
    <div class="card">
      <div class="card-header center-align">
        <h2>Sign up</h2>
      </div>
      <div class="card-content container">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions center-align">
            <%= f.submit "Sign up", :class => "btn-large profile-orange" %>
          </div>
        <% end %>
        </div>
        <div class="card-action">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
