
<script type="text/javascript" src="javascripts/company_kpis.js"></script>
<%= form_for([@kpiable, @kpi]) do |f| %>
	<% if @kpi.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @kpi.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.label :name%>
	<%= f.text_field :name %>
	<%= f.label :unit %>
	<%= f.text_field :unit %>
	<%= f.label :target%>
	<%= f.number_field :target%>
	<%= f.label :target_start_date%>
	<%= f.date_field :target_start_date, :class => 'datepicker', :type => 'text' %>
	<%= f.label :target_end_date%>
	<%= f.date_field :target_end_date, :class => 'datepicker', :type => 'text' %>
	<%= f.submit "Add KPI" %>
<% end %>