<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<%= render "layouts/header" %>

 <nav class="grey lighten-5">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="#!" class="breadcrumb cyan-text text-darken-4"><%=@company.name%></a>
        <!-- <a href="#!" class="breadcrumb">Team Name</a>
        <a href="#!" class="breadcrumb">User</a> -->
      </div>
    </div>
  </nav>


<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#companykpis">KPI</a></li>
        <li class="tab col s3"><a href="#teamsid">Teams</a></li>
        <li class="tab col s3"><a href="#test3">Goals</a></li>
        <li class="tab col s3"><a href="#test4">Revenue Streams</a></li>
        <li class="tab col s3"><a href="#test4">Updates</a></li>
      </ul>
    </div>
    <div id="companykpis" class="col s12">
    	<% if @company.kpis %>
    		<div class="section">
	    		<%@company.kpis.each do |kpi|%>						
						    <div class="col s6 m3">
						    	<%if kpi.current_actual != nil %>
						        		<%currprogress =  (kpi.current_actual.to_f/kpi.target.to_f)*100%>
						        	<%else%>
						        		<%currprogress =  0%>
						        	<%end%>
						      <div class="card light-grey">
						      	<span class="dark-grey-text">
						      	<div class="card-content">
						      		<div class="row center-align">
						      			<div class="col s6 m6">
						      				<div>
						      					<h6>Current</h6><h4><%=kpi.current_actual%></h4>
						      				</div>
						      			</div>
						      			<div class="col s6 m6">
						      				<div>
						      					<h6>Goal</h6><h4><%=kpi.target%></h4>
						      				</div>
						      			</div>
						      		</div>
						      		<div class="progress tooltipped" data-position="right" data-tooltip="<%=currprogress%>% to Goal">
						      		      <div class="determinate <%= 'red lighten-3' if kpi.target > currprogress/2 %>" style="width: <%=currprogress%>%;"></div>
						      		  </div>
						        	<div class="row center">
						        		<h5><%=kpi.name%><i class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="<%=kpi.unit%>">info</i></h5>

						        		<p class="grey-text lighten-2" style="font-style: italic;"> <%=kpi.target_start_date.to_formatted_s(:long)%> - <%=kpi.target_end_date.to_formatted_s(:long)%></p>
						        	</div>
						        	
						        	<div class="row center">
						        		<div class="col s4">
						        		<%=link_to '<i class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Add Update">add</i>
						        			'.html_safe,  new_company_kpi_metric_path(@company, kpi)%>
						        		</div>
						        		<div class="col s4">
						        		<%=link_to '<i class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Edit Kpi">edit</i>
						        			'.html_safe, "#{edit_company_kpi_path(@company, kpi)}" %>
						        		</div>
						        		<div class="col s4">
						        		<%=link_to '<i class="tiny material-icons tooltipped" data-position="bottom" data-tooltip="Delete Kpi">delete</i>
						        			'.html_safe, company_kpi_path(@company, kpi), method: :delete %>
						        		</div>
						        	</div>
						        </div>
			
						        </span>
						      </div>
						    </div>
				<%end%>
			</div>
			<a class="waves-effect waves-light btn" href="<%=new_company_kpi_path(@company)%>">Add New</a>
    	<%else%>
    		<a class="waves-effect waves-light btn" href="/kpis/new">Add New</a>
    	<%end%>
    </div>
    <div id="teamsid" class="col s12">
    	<ul>
    		<%@company.teams.each do |t|%>
    			<li>
    				<h4><%=t.name%></h4>
    				<p><%=t.description%></p>
    			</li>
    		<%end%>
    	</ul>

    </div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>

  <%= render "layouts/footer" %>