<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<h4><%=@company.name%></h4>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#companykpis">Company KPIs</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab col s3"><a href="#test3">Disabled Tab</a></li>
        <li class="tab col s3"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div id="companykpis" class="col s12">
    	<% if @company.company_kpis %>
    		<div class="section">
	    		<%@company.company_kpis.each do |kpi|%>						
						    <div class="col s6 m4">
						      <div class="card light-grey">
						      	<span class="dark-grey-text">
						      	<div class="card-content">
						        	<div class="center">
						        		<p> <%=kpi.unit%></p>
						        		<h4><%=kpi.name%></h4>
						        	</div>
						        	<%if kpi.current_actual != nil %>
						        		<%currprogress =  (kpi.current_actual.to_f/kpi.target.to_f)*100%>
						        	<%else%>
						        		<%currprogress =  0%>
						        	<%end%>
						        	<div class="progress">
						        	      <div class="determinate" style="width: <%=currprogress%>%;"></div>
						        	  </div>
						        	<div class="row center-align">
						        		<div class="col s6 m6">
						        			<div>
						        				<h6>Actual</h6><h4><%=kpi.current_actual%></h4>
						        			</div>
						        		</div>
						        		<div class="col s6 m6">
						        			<div>
						        				<h6>Target</h6><h4><%=kpi.target%></h4>
						        			</div>
						        		</div>
						        	</div>
						        </div>
						        	<div class="card-action">
							        	<div class="row valign-center">
							        		<div class="col s6 m6 left-align">
							        			<p class="grey-text lighten-2" style="font-style: italic;"> Start: <%=kpi.target_start_date%> End: <%=kpi.target_end_date%></p>
							        		</div>
							        		<div class="col s6 m6 right-align">
							        			<%=link_to '<i class="material-icons">add</i>
	'.html_safe, new_actual_metric_update_path(:company_kpi => {:company_kpi_id => kpi.id})%>
							        			<%=link_to '<i class="material-icons">edit</i>
	'.html_safe, "#{company_kpi_path(kpi) + '/edit'}" %>
							        		</div>
							        	</div>
							        </div>
						        </span>
						      </div>
						    </div>
				<%end%>
			</div>
			<a class="waves-effect waves-light btn" href="/company_kpis/new">Add New</a>
    	<%else%>
    		<a class="waves-effect waves-light btn" href="/company_kpis/new">Add New</a>
    	<%end%>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>