
<%= render "layouts/header" %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%=stylesheet_link_tag "companies.css"%>
<!-- 
<ul id="slide-out" class="sidenav sidenav-fixed">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
<body>
<div class="row">
	<%= render "companyinfo" %>


          

	<div class="col s12 teal lighten-1">
		<ul class="tabs" id="main-tabs">
			<li class="tab col s6"><a class="active" href="#companykpis">Company KPIs</a></li>
			<li class="tab col s6"><a href="#teamsid">Teams</a></li>
			<!-- <li class="tab col s3"><a href="#test3">Goals</a></li>
			<li class="tab col s3"><a class="white-text" href="#test4">Revenue Streams</a></li>
			<li class="tab col s3"><a href="#test4">Updates</a></li> -->
		</ul>
	</div>
	<%= render "companykpis"%>
	<%= render "teams/index" %>

<!-- <div id="test3" class="col s12">

</div>
<div id="test4" class="col s12">Test 4</div>
</div> -->
</div>
</body>
  <%= render "layouts/footer" %>
 