<!DOCTYPE html>
<html>
  <head>
    <title>Teamkpiapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>KPI TRACKR</title>
  <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">

	<nav class="grey lighten-5">
	    <div class="nav-wrapper z-depth-1">
	      <a href="#" class="brand-logo grey-text text-darken-2">KpiTrackr</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/" class="grey-text text-darken-2">Home</a></li>
	        <% if user_signed_in?%>
	          <li>
	          <%= link_to('Logout', destroy_user_session_path, method: :delete, :class=>"grey-text text-darken-2") %>        
	          </li>
	        <% else %>
	          <li>
	          <%= link_to('Login', new_user_session_path, :class=>"grey-text text-darken-2")  %>  
	          </li>
	        <% end %>
	      </ul>
	    </div>
	  </nav>

	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <%=stylesheet_link_tag "materialize.css"%>

	  <%if controller_name == "companies"%>
	    <%= render "companies/companyinfo" %>
	  <%end%>



  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="page-footer teal darken-4">
  <span class="white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 >Footer Content</h5>
                <p >You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a href="#!">Link 1</a></li>
                  <li><a href="#!">Link 2</a></li>
                  <li><a href="#!">Link 3</a></li>
                  <li><a href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="right" href="#!">More Links</a>
            </div>
          </div>
        </span>
        </footer>

</html>
