<!DOCTYPE html>
<html>
  <head>
    <title>Teamkpiapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%=stylesheet_link_tag "companies.css"%>

    <script>
    $(window).on('load', function() {
             $('.preloader').delay(600).fadeOut('slow');
             $('.preloader-wrapper').delay(500).fadeOut();
         });
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">google.charts.load('current', {packages: ['charteditor']});</script>
    <script type="text/javascript">
      var m = moment();
      var userzone = moment.parseZone(m).utcOffset();
    </script>
  <title>KPI TRACKR</title>
  <link href="https://fonts.googleapis.com/css?family=Palanquin" rel="stylesheet">

	<nav class="light-blue darken-1 white-text">
	    <div class="nav-wrapper z-depth-1">
        <a href="/" class="brand-logo  text-darken-2">KpiTrackr</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in?%>
            <li><a href="/" class=" text-darken-2">Home</a></li>
	          <li>
	          <%= link_to('Logout', destroy_user_session_path, method: :delete, :class=>" text-darken-2") %>        
	          </li>
	        <% else %>
	          <li>
	          <%= link_to('Login', new_user_session_path, :class=>" text-darken-2")  %>  
	          </li>
	        <% end %>
	      </ul>
	    </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/" class=" text-darken-2">Home</a></li>
      <% if user_signed_in?%>
        <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, :class=>" text-darken-2") %>        
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path, :class=>" text-darken-2")  %>  
        </li>
      <% end %>
    </ul>
          

	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <%=stylesheet_link_tag "materialize.css"%>

	  



  </head>

  <body>
    <div class="preloader hero" id="overlay">
      <div class="preloader-wrapper big active centered">
            <div class="spinner-layer spinner-blue" style="z-index:3000;">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
    <%= yield %>
  </body>

  <footer class="page-footer light-blue darken-3" >
  <span class="white-text">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5>Welcome to KPI Trackr</h5>
                <p>Data-driven collaboration simplified.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                  <li><a href="#!">Coming Soon</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              Made with <i class="fa fa-heart fa-2g" aria-hidden="true"></i> by <a href="http://www.productoptimist.com" style="color:white;"><u>Product Optimist</u></a> (Katrina Brinson)           
              <a class="right" href="https://www.linkedin.com/in/katrinabrinson/">LinkedIn</a>
            </div>
          </div>
        </span>
        </footer>

</html>
