
<%= render "layouts/header" %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style type="text/css">
	.fixed-action-btn {
  float: right !important;
  position: absolute !important;
  right: 5px !important;
  top: 5px !important;
  }

  .sidenav-overlay{
    	/*opacity: 0 !important;*/
    }

  #main-tabs{
  	background-color: transparent !important;
  }

  #main-tabs .tab a{
  	color: #ffffff;
  }

  #main-tabs .indicator{
  	background-color: #A5D6A7 !important;
  	height: 4px !important;
  }
  
</style>


	
	<nav>
	<div class="nav-wrapper teal lighten-2">
	      <div class="col s12 valign-wrapper">
	      	<a href="<%=company_path(@team.company)%>" class="breadcrumb"><%=@team.company.name%></a>
	        <a href="#!" class="breadcrumb"><%=@team.name%></a>
	        <a href="<%=member_path(@member)%>" class="breadcrumb avatar valign-wrapper"><img src="https://vignette.wikia.nocookie.net/logopedia/images/5/59/Coca-Cola_logo_2007.jpg" alt="" class="circle responsive-img" style="width: 50px; height: auto;"><%=@member.name%></a>
	      </div>
	    </div>
	</nav>
	<div class="section">
	    	<h5><%=@member.name%><a class="btn-flat" href="<%=new_member_kpi_path(@member)%>">Add KPI</a>
	</h5></div>




<div class="section">
<div class="row">
    <!-- <div class="col s12 teal lighten-1">
      <ul class="tabs" id="main-tabs">
        <li class="tab col s3"><a class="active" href="#memberkpis">My KPIs</a></li>
        <li class="tab col s3"><a href="#teamsid">Edit Profile</a></li>
        <li class="tab col s3"><a href="#test3">Goals</a></li>
        <li class="tab col s3"><a class="white-text" href="#test4">Revenue Streams</a></li>
        <li class="tab col s3"><a href="#test4">Updates</a></li>
      </ul>
    </div> -->
    <div id="memberkpis" class="col s12">
    	<% if @member.kpis.exists? %>
    		<div class="section">
    		<%@member.kpis.each do |kpi|%>
	    			<%if kpi.metrics.exists?%>	    			
		    			<script type="text/javascript">
		    				google.charts.load('current', {packages: ['corechart', 'line']});
		    				google.charts.setOnLoadCallback(drawBackgroundColor);

		    				function drawBackgroundColor() {
		    				      var data = new google.visualization.DataTable();
		    				      data.addColumn('date', 'Updated');
		    				      data.addColumn('number', 'Amount');

		    				      var mets = []
		    				      
			    				      <%kpi.metrics.each do |i|%>
			    				      		var v = [new Date(<%=i.created_at.year%>, <%=i.created_at.month%>, <%=i.created_at.day%>)]
			    				      		v.push(<%=i.metric%>)
			    				      		mets.push(v)
			    				      	<%end%>
		    				      data.addRows(mets)
		    				      var chartwidth = $('.card-title').width();

		    				      var options = {
		    				      	width: chartwidth,
		    				      	hAxis: {	    				          
		    				          gridlines: {
		    				          	color: 'transparent'
		    				          },
		    				          baselineColor: '#000000',
		    				          textStyle: {
		    				          	color: 'black'
		    				          }
		    				        },
		    				        vAxis: {	    				          
		    				          gridlines: {
		    				          	color: 'transparent'
		    				          },
		    				          baselineColor: '#000000',
		    				          textStyle: {
		    				          	color: 'black'
		    				          }
		    				        },
		    				        series: {
					                    0: { color: '#000000', lineWidth: 1 },
					                    1: { color: '#000000', lineWidth: 1 }
					                },
		    				        legend: 'none',
		    				        backgroundColor: '#ffffff',
		    				      };

		    				      var chart<%=kpi.id%> = new google.visualization.LineChart(document.getElementById('chart_div-<%=kpi.id%>'));
		    				      chart<%=kpi.id%>.draw(data, options);
		    				    }
		    			</script>
	    			<%end%>
				
					    <div class="col s12 m6">
					    	<%if kpi.current_actual != nil %>
					        		<%currprogress =  (kpi.current_actual.to_f/kpi.target.to_f)*100%>
					        	<%else%>
					        		<%currprogress =  0%>
					        	<%end%>
					      <div class="card light-grey">
					      	

					      			      	

					      	<ul id="slide-out-<%=kpi.id%>" class="sidenav tabs" style="position: absolute; display: inline-block; width: 200px; height: 100%; z-index: 1;">
					      	  <li class="tab" style="display: block;"><a class="active" href="#kpi-<%=kpi.id%>">Kpi</a></li>
				      	      <li class="tab" style="display: block;"><a href="#graph-<%=kpi.id%>">Progress</a></li>
				      	      <li class="tab" style="display: block;"><a href="#allmetrics-<%=kpi.id%>">Updates</a></li>
					      	 </ul>
					      	 <a href="#" data-target="slide-out-<%=kpi.id%>" id="slide-trigger-<%=kpi.id%>" class="sidenav-trigger"><i class="material-icons">menu</i></a>
					      	    <script type="text/javascript">
					      	      		$(document).ready(function(){
					      		      		$('#slide-out-<%=kpi.id%>').hide();
					      		      		$("#slide-trigger-<%=kpi.id%>").click(function() {
					      		      			$("#slide-out-<%=kpi.id%>").show();
					      		      		});
					      		      		$("div.sidenav-overlay").click(function() {
					      		      			alert( "Handler for .click() called." );
					      		      			$("#slide-out-<%=kpi.id%>").hide();
					      		      		});
					      		      		
					      	      		});

					      	      	</script>
					      	


					      	<span class="dark-grey-text">
					      	<div class="card-content">
					      		<span class="card-title center-align"><%=kpi.target%> <%=kpi.name%> (<%=kpi.unit%>)</span>
					      		<div class="row center-align" id="kpi-<%=kpi.id%>">			
					      			

				        			<div class="row">
					      				<p>From <%=kpi.target_start_date.to_formatted_s(:long)%> To <%=kpi.target_end_date.to_formatted_s(:long)%></p>
				      			    </div>
				      			    <div class="row">
						      				
					      			  	<div class="progress grey lighten-3" style="height: 10px;">
					      			      <div class="determinate green lighten-3<%= 'red lighten-3' if kpi.target/2 > kpi.current_actual %>" style="width: <%=currprogress%>%;"></div>
					      			  	</div>
					      			  	<p style="font-weight: 500;"><%=currprogress.round(1)%>% to Goal - <%=(kpi.target_end_date - Date.today).to_i%> Days Remain</p>
				      			    </div>			      			  	
						      		<div class="row">
						      			<a class="btn-floating" href="<%=new_member_kpi_metric_path(@member, kpi)%>"><i class="large material-icons">file_upload</i></a>
					        			<a class="btn-floating" href="<%=edit_member_kpi_path(@member, kpi)%>"><i class="large material-icons">edit</i></a>
					        			<%=link_to '<i class="large material-icons">delete</i>'.html_safe, member_kpi_path(@member, kpi), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-floating" %>
				        			</div>	
					      								      			
					      		</div>
					      		<div class="row" id="graph-<%=kpi.id%>">
					      			<div class="col s12 m12">
							      		<div id="chart_div-<%=kpi.id%>" class="chart"></div>
							      	</div>
							      	</div>
						      	<div class="row" id="allmetrics-<%=kpi.id%>">
							      	<ul class="collection">
								      	<%kpi.metrics.order(created_at: :desc).each do |mt|%>
								      		<li class="collection-item">
								      			Last Updated to <strong><%=mt.metric%></strong> on <%=mt.created_at.to_formatted_s(:long)%>
								      			<%=link_to "Delete", member_kpi_metric_path(@member, kpi, mt), method: :delete %>
								      			
								      		</li>
								      	<%end%>
							      	</ul>
						      	</div>							        	
					        </div>
					        <%if kpi.metrics.exists?%>
						        <!-- <div class="card-tabs">
					              <ul class="tabs tabs-fixed-width">
					                <li class="tab"><a class="active" href="#graph-<%=kpi.id%>">Charted Progress</a></li>
					                <li class="tab"><a  href="#allmetrics-<%=kpi.id%>">All Updates</a></li>
					              </ul>
					            </div> -->



						        
					        <%end%>
		
					        </span>
					      </div>
					    </div>
				<%end%>
			</div>
    	<%else%>
    		
    	<%end%>
    </div>
</div>
</div>
<%= render "layouts/footer" %>